li {
   list-style: square;
}

ul {
  padding-left: 40px;
}

.wcpsm-clear-top {
	margin-top: 20px;
}

.wcpsm-success {
	color: green;
}

.wcpsm-error {
	color: red;
}

.wcpsm_mode_div {
	margin-bottom: 10px;
}